@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800&display=swap");

@import "activites.css";
@import "filtres.css";
@import "footer.css";
@import "header.css";
@import "hebergement.css";
@import "formulaire.css";

* {
  box-sizing: border-box;
  font-family: 'Raleway', sans-serif;

}

body {
  margin: 0 auto;
  max-width: 1440px;
}

header,
main {
  padding-left: 30px;
  padding-right: 30px;
}

h1 {
  font-size: 25px;
  font-weight: 700;
}

h2 {
  font-size: 20px;
  font-weight: 700;
}

h3 {
  font-size: 14px;
  font-weight: 700;
}

p {
  font-size: 14px;
  margin-bottom: 30px;
}

ul {
  list-style-type: none;
  padding: 0px;
}

a {
  text-decoration: none;
  color: black;

}