@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800&display=swap");

@import "activites.css";
@import "filtres.css";
@import "footer.css";
@import "header.css";
@import "hebergement.css";
@import "formulaire.css";

*{
  box-sizing: border-box;
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
  
}
html {
min-height: 100%;
}

body {
  margin: auto;
  max-width: 1440px;
 
}
header,main {
min-height: 100%;
padding-left: 30px;
padding-right: 30px;
}
h1 {
  font-weight: 900;
}
h2 {
  font-size: 20px;
  font-weight: 900;
}

h3,::placeholder {
  font-size: 16px;
  font-weight: 900;
}

p {
  font-size: 14px;
}
ul {
  list-style-type: none;
  padding: 0px;
}

a {
  text-decoration: none;
  color: black;
  
}
section {
  margin-top: 30px;
  margin-bottom: 50px;

}











