*{
  box-sizing: border-box;
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
}
html {
min-height: 100%;
position: relative;
}

header,main {
max-width: 1400px;
min-height: 100%;
padding-left: 3%;
padding-right: 3%;
margin: 0 auto;
}

@media screen and (max-width: 767px) {
  header,main {
  min-width: 320px; }
  }


.Searchtitle,h2 {
  font-size: 22px;
  font-weight: 900;
}

::placeholder {
  font-size: 18px;
  font-weight: 900;
  color: black;
}

h3 {
  font-size: 16px;
  font-weight: 900;
}

ul {
  list-style-type: none;
  padding: 0px;
}

a {
  text-decoration: none;
  color: black;
  font-weight: 400;
}
section {
  margin-top: 30px;
  padding-top: 15px;
}


header {
  display: flex;
  justify-content: space-between;
  }

@media screen and (max-width: 767px) {
header {
  display: block;
}
}  
.logoImg {
margin-top: 30px;
height: 45px;
}
@media screen and (max-width: 767px) {
  .logo {
text-align: center;
  }
  } 
.headerNav {
display: flex;
margin-top: 30px;
}
@media screen and (max-width: 767px) {
  .headerNav {
    text-align: center;
  }
}

.headerNav a {
  padding-inline: 30px;
  padding-top: 15px;
  border-top-style: solid;
  border-color:transparent;
 }
 @media screen and (max-width: 767px) {
  .headerNav a {
    padding-bottom: 15px;
    border-bottom-style: solid;
    border-top: none;
  }
 }

.headerNav a:hover {
  color: #0065FC;
  border-color: #0065FC;
  }
@media screen and (max-width: 767px) {
  .Searchtitle {
  justify-content: center; 
  }
 }


form {
  display: flex;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 25px;
      }

.Searchicon {
  width: 45px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #F2F2F2;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
     
   }
   @media screen and (max-width: 767px)  {
    .Searchicon {
      text-align: left;
      width: 10%;
           
              }
      }
.Searchinput {
  height: 45px;
  width: 250px;
  text-align: center;
  border-top:#F2F2F2 1px solid ;
  border-bottom: #F2F2F2 1px solid;
  border-left: transparent;
  border-right: transparent;
  }
  
  @media screen and (max-width: 767px)  {
  .Searchinput {
   text-align: left;
   width: 80%;} 
       }
  
.Searchsubmitinput {
border-top-right-radius: 10px;
border-bottom-right-radius: 10px;
background-color: #0065FC;
height: 45px;
color: white;
border : none;
cursor: pointer;
}
@media screen and (max-width: 767px)  {
  .Searchsubmitinput {
  border:#F2F2F2 1px solid ;
  width: 50%;
  float: right;
  padding: 0;
              }
      }



.filtersearch {
  display: flex;
  margin-bottom: 25px;
  align-items: center;
  }

@media screen and (max-width: 767px)  {
  .filtersearch {
    display: block;
  }
}

.containerfilters {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  margin-left: 30px;
  }
   
@media screen and (min-width: 768px) and (max-width: 992px) {
  
  .containerfilters {
    gap: 5px; }
  }

  @media screen and (max-width: 767px) {
    .containerfilters {
      gap: 5px; 
      margin-left: 0;
    }
  }
    
.filters {
  display: flex;
  align-items: center;
  height: 50px;
  border: 2px solid;
  border-radius: 30px;
  cursor: pointer;
  border-color: #deebff;
  background-color: white;
}
 
.filters:hover {
  background-color: #deebff;
}

.iconfilters {
  height: 50px;
  width: 50px;
  background-color: #deebff;
  border-radius: 50%;
  margin-left: -6px;
  }

.iconfilters i {
padding-top: 15px;
vertical-align: middle;
color: #0065FC;
}

.iconfiltertitle {
  font-weight: bold ;
  margin-left: 10px;
  margin-right: 10px;
  }
.filtersearch + p {
display: flex;
align-items: center;
margin-top: 30px;
margin-bottom: 30px;

}
.iconinfo {
color: #0065FC;
border: 1px solid #F2F2F2;
width : 25px;
height: 25px;
border-radius: 50%;
padding-left: 8px;
margin-right: 15px;

}


.containerMarseille {
display: flex;
column-gap: 2%;

}

@media screen and (min-width: 768px) and (max-width: 992px) {
.containerMarseille {
  display: flex;
  flex-direction: column;}
}
@media screen and (max-width: 767px) {
  .containerMarseille {
    display: flex;
    flex-direction: column;      }
  }

.col1 {
background-color: #F2F2F2;
width: 68%;
padding: 15px;
border-radius: 10px;
}
@media screen and (min-width: 768px) and (max-width: 992px) {
  .col1 {
   width: 100%;  }
   }
@media screen and (max-width: 767px) {
    .col1 {
     width: auto; 
    margin-bottom: 25px;
  padding: 5px; }
     }


.hostingsMarseille {
display: flex;  
flex-wrap: wrap;
justify-content: space-between;
}

@media screen and (max-width: 767px) {
.hostingsMarseille {
flex-direction: column;}
}

.hostingsMarseilledetails {
padding: 5px;
width : 32%;
border-color: white; ;
border-radius: 10px;
background-color:  white;
margin-bottom: 20px;
font-size: small;
cursor: pointer;
}
@media screen and (max-width: 767px) {
.hostingsMarseilledetails { 
width: auto;
}
}

.hostingsMarseilleimg {
height: 100px;
max-height: 100%;
object-fit: cover;
width: 100%;
max-width: 100%;
justify-content: center;
border-top-left-radius: 10px;
border-top-right-radius: 10px;
cursor: pointer;
  }

.bloc-etoiles i {
  color:transparent;
}

.bloc-etoiles i[data-active="true"] 
{
color: #0065FC
}
.bloc-etoiles i[data-active="false"]
{ color: #d9d9d9;}

.col2 {
width: 30%;
background-color: #F2F2F2;
padding: 15px;
border-radius: 10px;
  }
@media screen and (min-width: 768px) and (max-width: 992px) {
.col2 {
 margin-top:25px;
width: auto;     }
    }
@media screen and (max-width: 767px) {
.col2 {
width: auto;
padding: 5px;
}
}    
.popularhostings {
display: flex;
flex-direction: column;
justify-content: space-between;

    }
.iconpop {
  font-size: 20px;
  float: right;
}
.popularhostingsdetails {
column-count: 2;
padding: 5px;
border-color: white; ;
border-radius: 10px;
background-color:  white;
margin-bottom: 20px;
font-size: small;
cursor: pointer;
}

.popularimg {
  border-radius: 1rem 0 0 1rem;
  width: 80%;
  height: 130px;
  max-height: 100%;
  object-fit: cover;
  }
   
@media screen and (max-width: 767px) {
.popularimg {
  width: 65%;
}
 }
.popularimgtext {
  padding-top: 5px;
  margin-left: -20%
}
@media screen and (min-width: 768px) and (max-width: 992px) {
.popularimgtext {
margin-left: 0;
  }
  }

@media screen and (max-width: 767px) {
.popularimgtext {
margin-left: -30%;
}
}
 
.activity {
    padding-bottom: 25px;
  }

.activitygallery {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  column-gap: 1.3%;
  overflow: hidden;
  height: 500px;
  justify-content:space-between;
  padding-bottom: 5px;
  }
@media screen and (max-width: 767px) {
.activitygallery {
display:block ;
height: auto ; }
}

.activityitem1 h3, .activityitem2 h3,.activityitem3 h3,.activityitem4 h3, .activityitem5 h3, .activityitem6 h3 {
  padding-left: 5%;
}
.activityitem1,.activityitem4 {
 overflow: hidden;
 width: 24%;
 border-radius: 5%;
 box-shadow:0 5px 5px #F2F2F2;}

@media screen and (max-width: 767px) {
  .activityitem1,.activityitem4 {
  height: 200px;
  width: 100%;
margin-bottom: 15px;}
   }

.activityimg1, .activityimg4 {
  height: 440px;
  max-height: 100%;
  object-fit: cover;
  max-width: 100%;
  width: 100%;
}
@media screen and (max-width: 767px) {
.activityimg1, .activityimg4 {
height: 150px;
}
}
.activityitem2 { 
  overflow: hidden;
  width: 24%;
  border-radius: 5%;
  box-shadow:0 5px 5px #F2F2F2;
   }
@media screen and (max-width: 767px) {
.activityitem2 {
    height: 200px;
    width: 100%;
    margin-bottom: 15px;    }
    }
 .activityimg2 {
   height: 200px;
   max-height: 100%;
   object-fit: cover;
   width: 100%;
 }
 @media screen and (max-width: 767px) {
  .activityimg2 {
  height: 150px;
  }
  }
 .activityitem3 {
  overflow: hidden;
  width: 24%;
  border-radius: 5%;
  box-shadow:0 5px 5px #F2F2F2;
 }
 @media screen and (max-width: 767px) {
  .activityitem3 {
      height: 200px;
      width: 100%;
      margin-bottom: 15px;    }
      }
 .activityimg3 {
   height: 135px;
   max-height: 100%;
   object-fit: cover;
   max-width: 100%;
   width: 100%;
 }
 @media screen and (max-width: 767px) {
  .activityimg3 {
  height: 150px;
  }
  }
.activityitem5 { 
  overflow: hidden;
  width: 24%;
  border-radius: 5%;
  box-shadow:0 5px 5px #F2F2F2;
  }
  @media screen and (max-width: 767px) {
    .activityitem5 {
        height: 200px;
        width: 100%; 
        margin-bottom: 15px;   }
        }
 .activityimg5 {
   height: 170px;
   max-height: 100%;
   object-fit: cover;
   width: 100%;
 }
 @media screen and (max-width: 767px) {
  .activityimg5 {
  height: 150px;
  }
  }
 .activityitem6 {
  overflow: hidden;
  width: 24%;
  border-radius: 5%;
  box-shadow:0 5px 5px #F2F2F2;
 }
 @media screen and (max-width: 767px) {
  .activityitem6 {
      height: 200px;
      width: 100%; 
      margin-bottom: 15px;   }
      }
 .activityimg6 {
   height: 170px;
   max-height: 100%;
   object-fit: cover;
   max-width: 100%;
   width: 100%;
 }
 @media screen and (max-width: 767px) {
  .activityimg6 {
  height: 150px;
  }
  }


footer {
  max-width: 1400px;
  height: 50px;
  margin: 0 auto;
       }
 

.contenu-footer {
 display: flex;
 background-color: #F2F2F2;
 column-gap: 20%;
 padding-left: 3%;
padding-top: 15px;
padding-bottom: 15px;
   }
@media screen and (max-width: 992px) {
.contenu-footer {
  column-gap: 10%;
  }
}
@media screen and (max-width: 767px) {
  .contenu-footer {
    display: block;
    
  }
  }  
